body {
    font-family: Century Gothic, sans-serif;
    text-align: center;
    background-color: #f200ff8e;
    color: #ffffff;
}

h1 {
    font-family: Century Gothic, sans-serif;
    text-align: center;
    margin-top: 60px;
    color: #00f2ff;
}

input {
    font-family: Century Gothic, sans-serif;
    font-size: 15px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 15px;
}

#jogadorForm {
    margin-top: 250px;
}

#gameBoard {
    margin-top: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid #00f2ff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

#message {
    margin-bottom: 10px;
    font-size: 15px;
}

button {
    font-family: Century Gothic, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    background-color: #00f2ff;
    padding: 10px 20px;
    color: #242a23eb;
}
